@model dynamic

@{
ViewBag.Title = "Wiek";
Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>
<h3>Data urodzenia: @ViewBag.dateOfBirth</h3>
<h3>Lata @ViewBag.Years, Miesiące @ViewBag.Months, Dni @ViewBag.Days</h3>

